@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --color-pop: #088178;
    --color-primary-text: #222222;
    --color-secondary-text: #808F88;
    --color-primary-text-darkbg: #FFFFFF;
    --color-secondary-text-darkbg: #818EA0;
    --color-gold-star: #F3B519;
    --color-grey-background: #E3E6F3;
    --color-darkblue-background: #041E42;
    --color-aqua-shade: #D1E8F2;
    --color-pink-shade: #F6DBF2;
    --color-green-shade: #CDEBBC;
    --color-blue-shade: #DDF1FD;
    --color-purple-shade: #DFDEFD;
    --color-orange-shade: #FAE8D3;
    --color-dropshadow-strong: rgba(0, 0, 0, 0.1);
    --color-dropshadow-medium: rgba(0, 0, 0, 0.06);
    --color-dropshadow-light: rgba(0, 0, 0, 0.03);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

html .material-icons-outlined, html .material-icons {
    padding: 0;
    margin: 0;
    font-size: 20px;
}

body {
    width: 100%;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: var(--color-primary-text);
}

h2 {
    font-size: 46px;
    line-height: 56px;
    color: var(--color-primary-text);
}

h4 {
    font-size: 20px;
    color: var(--color-primary-text);
}

h6 {
    font-size: 12px;
    font-weight: 700;
}

p {
    margin: 15px 0 20px;
    font-size: 16px;
    color: var(--color-secondary-text);
}

.padding-config-1 {
    padding: 40px 10%;
}

.margin-config-1 {
    margin: 40px 0;
}

.button-primary {
    padding: 15px 30px;
    font-size: 14px;
    font-weight: 600;
    color: var(--color-primary-text);
    border: none;
    border-radius: 4px;
    outline: none;
    background-color: var(--color-primary-text-darkbg);
    cursor: pointer;
    transition: 0.3s ease;
}

.button-secondary {
    padding: 11px 18px;
    font-size: 13px;
    font-weight: 600;
    color: var(--color-primary-text-darkbg);
    border: 1px solid var(--color-primary-text-darkbg);
    outline: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s ease;
}

/* Index */

#header {
    display: flex;
    z-index: 99;
    padding: 20px 10%;
    position: sticky;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-grey-background);
    box-shadow: 0 5px 15px var(--color-dropshadow-medium);
}

#header > nav > #navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header > nav > #navigation-bar > li {
    padding: 0 20px;
    position: relative;
    list-style: none;
}
    
#header > nav > #navigation-bar > li > a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-primary-text);
    transition: 0.3s ease;
}

#header > nav > #navigation-bar > li > a::after {
    width: 30%;
    height: 2px;
    position: absolute;
    bottom: -4px;
    left: 20px; /* Each text has paadding of 20px; */
    content: '';
    background-color: transparent;
    transition: 0.3s ease;
}

#header > nav > #navigation-bar > li > a:hover, #header > nav > #navigation-bar > li > a.active {
    color: var(--color-pop);
}

#header > nav > #navigation-bar > li > a:hover::after, #header > nav > #navigation-bar > li > a.active::after {
    background-color: var(--color-pop);
}

#header > nav > #navigation-bar > span {
    display: none;
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 24px;
    color: var(--color-primary-text);
    cursor: pointer;
}

#header > #mobile {
    display: none;
    align-items: center;
}

/* ***** */

#hero {
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 0 10%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(../images/hero4.png);
    background-position: center;
    background-size: cover;
}

#hero > h4 {
    padding-bottom: 15px;
}

#hero > h1 {
    color: var(--color-pop);
}

#hero > a.shop-button {
    padding: 14px 80px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: var(--color-pop);
    background-image: url(../images/button.png);
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* ***** */

#feature {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#feature > div.feature-box {
    width: 180px;
    padding: 25px 15px;
    margin: 15px 0;
    text-align: center;
    border-radius: 4px;
    border: 1px solid var(--color-green-shade);
    box-shadow: 20px 20px 34px var(--color-dropshadow-light);
}

#feature > div.feature-box:hover {
    box-shadow: 10px 10px 54px var(--color-dropshadow-strong);
}

#feature > div.feature-box > img {
    width: 100%;
    margin-bottom: 10px;
}

#feature > div.feature-box > h6 {
    display: inline-block;
    padding: 9px 8px 6px;
    line-height: 1;
    border-radius: 2px;
    color: var(--color-pop);
    background-color: var(--color-aqua-shade);
}

#feature > div.feature-box:nth-child(2) > h6 {
    background-color: var(--color-pink-shade);
}

#feature > div.feature-box:nth-child(3) > h6 {
    background-color: var(--color-green-shade);
}

#feature > div.feature-box:nth-child(4) > h6 {
    background-color: var(--color-blue-shade);
}

#feature > div.feature-box:nth-child(5) > h6 {
    background-color: var(--color-purple-shade);
}

#feature > div.feature-box:nth-child(6) > h6 {
    background-color: var(--color-orange-shade);
}

/* ***** */

#product {
    text-align: center;
}

#product > div.product-box {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
}

#product > div.product-box > div.product {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    margin: 15px 0px;
    position: relative;
    border-radius: 25px;
    border: 1px solid var(--color-green-shade);
    box-shadow: 20px 20px 30px var(--color-dropshadow-light);
    cursor: pointer;
    transition: 0.2s ease;
}

#product > div.product-box > div.product:hover {
    box-shadow: 20px 20px 30px var(--color-dropshadow-medium);
}

#product > div.product-box > div.product > img {
    width: 100%;
    border-radius: 20px;
}

#product > div.product-box > div.product > div.description {
    padding: 10px 0;
    text-align: start;
}

#product > div.product-box > div.product > div.description > span {
    font-size: 12px;
    color: grey;
}

#product > div.product-box > div.product > div.description > h5 {
    padding-top: 7px;
    font-size: 14px;
    color: var(--color-primary-text);
}

#product > div.product-box > div.product > div.description > div.reviews {
    display: flex;
    height: 100%;
    padding-top: 7px;
}

#product > div.product-box > div.product > div.description > div.reviews > span.material-icons {
    display: block;
    font-size: 18px;
    color: var(--color-gold-star);
}

#product > div.product-box > div.product > div.description > h4 {
    padding-top: 12px;
    font-size: 15px;
    font-weight: 700;
    color: var(--color-pop);
}

#product > div.product-box > div.product > a > span.cart {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 20px;
    right: 10px;
    font-weight: 500;
    line-height: 40px;
    border-radius: 20px;
    color: var(--color-pop);
    background-color: var(--color-green-shade);
}

/* ***** */

#cta {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../images/banner/b2.jpg);
    background-position: center;
    background-size: cover;
}

#cta > h4 {
    font-size: 18px;
    color: var(--color-primary-text-darkbg);
}

#cta > h2 {
    padding: 10px 0;
    font-size: 30px;
    color: var(--color-primary-text-darkbg);
}

#cta > h2 > span {
    color: var(--color-pink-shade);
}

#cta > button.button-primary:hover {
    color: var(--color-primary-text-darkbg);
    background-color: var(--color-pop);
}

/* ***** */

#banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#banner > div.banner-box {
    display: flex;
    flex-direction: column;
    width: 48%;
    height: 40vh;
    padding: 30px;
    justify-content: center;
    align-items: flex-start;
    background-position: center;
    background-size: cover;
}

#banner > div.banner-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/banner/b17.jpg);
}

#banner > div.banner-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/banner/b10.jpg);
}

#banner > div.banner-box > h4 {
    font-size: 20px;
    font-weight: 400;
    color: var(--color-primary-text-darkbg);
}

#banner > div.banner-box > h2 {
    font-size: 32px;
    font-weight: 600;
    color: var(--color-primary-text-darkbg);   
}

#banner > div.banner-box > span {
    padding-bottom: 15px;
    font-size: 14px;
    font-weight: 300;
    color: var(--color-primary-text-darkbg);   
}

#banner > div.banner-box > button.button-secondary:hover {
    border: 1px solid var(--color-pop);
    background-color: var(--color-pop);
}

/* ***** */

#banner-small {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10%;
    justify-content: space-between;
}

#banner-small > div.banner-box {
    display: flex;
    flex-direction: column;
    min-width: 30.5%;
    height: 30vh;
    padding: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: flex-start;
    background-position: center;
    background-size: cover;
}

#banner-small > div.banner-1 {
    background-image: url(../images/banner/b7.jpg);
}

#banner-small > div.banner-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/banner/b4.jpg);
}

#banner-small > div.banner-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/banner/b18.jpg);
}

#banner-small > div.banner-box > h2 {
    font-size: 22px;
    font-weight: 700;
    color: var(--color-primary-text-darkbg);
}

#banner-small > div.banner-box > h3 {
    font-size: 15px;
    font-weight: 500;
    color: var(--color-pink-shade);
}

/* ***** */

#newsletter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-image: url(../images/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 10% 30%;
    background-color: var(--color-darkblue-background);
}

#newsletter > div.newsletter-text > h4 {
    font-size: 22px;
    font-weight: 700;
    color: var(--color-primary-text-darkbg);
}

#newsletter > div.newsletter-text > p {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
    color: var(--color-secondary-text-darkbg);
}

#newsletter > div.newsletter-text > p > span {
    color: var(--color-gold-star);
}

#newsletter > div.form {
    display: flex;
    width: 40%;
}

#newsletter > div.form > input {
    width: 100%;
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    border: none;
    border-radius: 4px 0 0 4px;
    outline: none;
}

#newsletter > div.form > button {
    white-space: nowrap;
    color: var(--color-primary-text-darkbg);
    border-radius: 0 4px 4px 0;
    background-color: var(--color-pop);
}

/* ***** */

footer > div.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer > div.row > div.column {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: flex-start;
}

footer > div.row > div.column h4 {
    padding-bottom: 20px;
    font-size: 14px;
}

footer > div.row > div.column p {
    margin: 0 0 8px 0;
    font-size: 13px;
}

footer > div.row > div.column a {
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 13px;
    color: var(--color-secondary-text);
}

footer > div.row > div.contact > img {
    margin-bottom: 30px;
}

footer > div.row > div.contact > div.follow {
    margin-top: 20px;
}

footer > div.row > div.contact > div.follow > div.icons > i {
    padding-right: 4px;
    color: var(--color-secondary-text);
    cursor: pointer;
}

footer > div.row > div.contact > div.follow > div.icons > i:hover, footer > div.row > div.column a:hover {
    color: var(--color-pop);
}

footer > div.row > div.app-pay > div.row > img {
    border-radius: 6px;
    border: 1px solid var(--color-pop);
}

footer > div.row > div.app-pay img {
    margin: 10px 0 15px;
}

footer > div.copyright {
    text-align: center;
}

footer > div.copyright > a {
    text-decoration: none;
}

footer > div.copyright > a > p > span {
    padding-bottom: 3px;
    vertical-align: middle;
    font-size: 16px;
}

/* Shop */

#subheader {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40vh;
    justify-content: center;
    text-align: center;
    background-size: cover;
}

#subheader.shop-subheader {
    background-image: url(../images/banner/b1.jpg);
}

#subheader > h2, #subheader > p {
    color: var(--color-primary-text-darkbg);
}

/* ***** */

#pagination {
    text-align: center;
}

#pagination > a {
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    font-weight: 600;
    color: var(--color-primary-text-darkbg);
    border-radius: 4px;
    background-color: var(--color-pop);
}

#pagination > a > span {
    vertical-align: middle;
    font-size: 16px;
    font-weight: 600;
}

/* Product */

#product-details {
    display: flex;
    margin-top: 20px;
}

#product-details > div.product-image {
    width: 40%;
    margin-right: 50px;
}

#product-details > div.product-image > img {
    margin-bottom: 0.7%;
}

#product-details > div.product-image > div.image-group {
    display: flex;
    justify-content: space-between;
}

#product-details > div.product-image > div.image-group > div.image-column {
    flex-basis: 24%;
    cursor: pointer;
}

#product-details > div.product-description {
    width: 50%;
    padding-top: 30px
}

#product-details > div.product-description > h6 {
    color: var(--color-secondary-text);
}

#product-details > div.product-description > h4 {
    padding: 40px 0 20px;
}

#product-details > div.product-description > h2 {
    font-size: 32px;
}

#product-details > div.product-description > select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#product-details > div.product-description > input {
    width: 50px;
    height: 44px;
    padding-left: 10px;
    margin-right: 10px;
    font-size: 16px;
}

#product-details > div.product-description > input:focus {
    outline: none;
}

#product-details > div.product-description > button.button-primary {
    color: var(--color-primary-text-darkbg);
    background-color: var(--color-pop);
}

#product-details > div.product-description > span {
    line-height: 25px;
    color: var(--color-secondary-text);
}

/* Blog */

#subheader.blog-subheader {
    background-image: url(../images/banner/b19.jpg);
}

/* ***** */

#blog {
    padding: 150px 10% 0;
}

#blog > div.blog-row {
    display: flex;
    width: 100%;
    padding-bottom: 90px;
    align-items: center;
    font-size: 0;
}

#blog > div.blog-row > div.blog-column-left {
    width: 42%;
    position: relative;
    margin-right: 40px;
}

#blog > div.blog-row > div.blog-column-left > img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog > div.blog-row > div.blog-column-left > h1 {
    z-index: -1;
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: var(--color-grey-background);
}

#blog > div.blog-row > div.blog-column-right {
    width: 50%;
}

#blog > div.blog-row > div.blog-column-right > a {
    position: relative;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    color: var(--color-primary-text);
    transition: 0.3s;
}

#blog > div.blog-row > div.blog-column-right > a::after {
    width: 50px;
    height: 1px;
    position: absolute;
    top: 4px;
    right: -60px;
    content: '';
    background-color: var(--color-primary-text);
}

#blog > div.blog-row > div.blog-column-right > a:hover {
    color: var(--color-pop);
}

#blog > div.blog-row > div.blog-column-right > a:hover::after {
    background-color: var(--color-pop);
}

/* About */

#subheader.about-subheader {
    background-image: url(../images/about/banner.png);
}

/* ***** */

#about {
    display: flex;
    align-items: center;
}

#about > img {
    width: 50%;
    height: auto;
}

#about > div {
    padding-left: 40px;
}

/* ***** */

#app {
    text-align: center;
}

#app > div.video {
    width: 70%;
    height: 100%;
    margin: 30px auto 0;
}

#app > div.video > video {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* Contact */

/* Cart */

/* Tablet View */

@media (max-width: 1024px) {

    .padding-config-1 {
        padding: 40px;
    }

    /* Index Page */

    #header {
        padding: 40px;
    }

    #header > nav > #navigation-bar {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 100vh;
        padding: 80px 0 0 10px;
        position: fixed;
        top: 0;
        right: -300px;
        align-items: flex-start;
        justify-content: flex-start;
        box-shadow: 0 40px 60px var(--color-dropshadow-strong);
        background-color: var(--color-grey-background);
        transition: 0.3s ease;
    }

    #header > nav > #navigation-bar.active {
        right: 0;
    }

    #header > nav > #navigation-bar > li {
        margin-bottom: 25px;
    }

    #header > nav > #navigation-bar > li > a > span {
        display: none;
    }

    #header > nav > #navigation-bar > span {
        display: initial;
    }

    #header > #mobile {
        display: flex;
    }

    #header > #mobile span {
        padding-left: 20px;
        vertical-align: middle;
        font-size: 24px;
        color: var(--color-primary-text);
        cursor: pointer;
    }

    /* ***** */
    
    #hero {
        height: 70vh;
        padding: 0 40px;
        background-position: top 30% right 30%;
    }

    /* ***** */

    #feature {
        justify-content: center;
    }
    
    #feature > div.feature-box {
        margin: 15px;
    }

    /* ***** */

    #product > div.product-box {
        justify-content: center;
    }
    
    #product > div.product-box > div.product{
        margin: 15px;
    }

    /* ***** */

    #cta {
        height: 20vh;
    }

    /* ***** */

    #banner > div.banner-box {
        width: 100%;
        height: 30vh;
    }

    /* ***** */

    #banner-small {
        padding: 40px;
    }

    #banner-small > div.banner-box {
        width: 28%;
        align-items: center;
        text-align: center;
    }
    
    #banner-small > div.banner-box > h2 {
        margin-bottom: 10px;
        line-height: 1;
    }

    /* ***** */

    #newsletter > div.form {
        width: 70%;
        margin-top: 20px;
    }
}

/* Mobile View */

@media (max-width: 477px) {

    h1 {
        font-size: 38px;
        line-height: 48px;
    }

    h2 {
        font-size: 32px;
        line-height: 39px;
    }

    .padding-config-1 {
        padding: 20px;
    }

    /* Index Page */

    #header {
        padding: 20px 30px;
    }

    /* ***** */
    
    #hero {
        padding: 0 20px;
        background-position: 55%;
    }

    /* ***** */

    #feature {
        justify-content: space-between;
    }

    #feature > div.feature-box {
        width: 155px;
        margin: 0 0 15px;
    }

    /* ***** */

    #product > div.product-box > div.product {
        width: 100%;
        margin: 15px 0;
    }

    /* ***** */

    #cta {
        height: 40vh;
    }

    /* ***** */

    #banner > div.banner-box {
        height: 40vh;
        align-items: center;
    }

    #banner > div.banner-2 {
        margin-top: 20px;
    }

    /* ***** */

    #banner-small {
        padding: 0 20px;
    }

    #banner-small > div.banner-box {
        width: 100%;
    }

    /* ***** */

    #newsletter {
        padding: 40px 20px;
    }

    #newsletter > div.form {
        width: 100%;
        margin-top: 20px;
    }

    /* Product */

    #product-details {
        display: flex;
        flex-direction: column;
    }

    #product-details > div.product-image {
        width: 100%;
        margin-right: 0;
    }

    #product-details > div.product-description {
        width: 100%;
    }

    /* Blog */

    #blog {
        padding: 100px 20px 0;
    }

    #blog > div.blog-row {
        flex-direction: column;
        align-items: flex-start;
    }

    #blog > div.blog-row > div.blog-column-left {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    
    #blog > div.blog-row > div.blog-column-left > h1 {
        top: -30px;
    }

    #blog > div.blog-row > div.blog-column-right {
        width: 100%;
    }

    /* ***** */

    #app > div.video {
        width: 100%;
    }

    /* About */

    #about {
        flex-direction: column;
    }

    #about > img {
        width: 100%;
        margin-bottom: 20px;
    }

    #about > div {
        padding-left: 0;
        text-align: center;
    }
}